.header {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: slategray;
    height: 100px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

.burger-menu {
    display: none;
    height: 30px;
    width: 30px;
    position: relative;
    justify-content: center;
    align-items: center;
    align-self: center;
    cursor: pointer;
    margin: 5px;
}

.burger-menu__line,
.burger-menu__line::before,
.burger-menu__line::after {
    transition: 0.3s;
    width: 20px;
    height: 2px;
    background-color: black;
}

.burger-menu:hover .burger-menu__line,
.burger-menu:hover .burger-menu__line::after,
.burger-menu:hover .burger-menu__line::before {
    background-color: wheat;
}


.burger-menu__line::before,
.burger-menu__line::after {
    position: absolute;
    content: '';
}

.burger-menu__line::after {
    transform: translateY(5px);
}
.burger-menu__line::before {
    transform: translateY(-5px);
}


.header__title {
    text-align: center;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.header__info {
    display: flex;
    align-items: center;
}

.header__photo {
    height: 80px;
    border-radius: 50%;
    border: 2px solid #666666;
    margin-right: 5px;
}

.header__name {
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.header__occupation {
    font-size: 1.5rem;
    font-style: italic;
}


.header__btn {
    background-color: #666666;
    border: none;
    color: white;
    padding: 8px;
    width: 150px;
    text-align: left;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

