.navigation nav {
    height: 100%;
    width: 200px;
}

.navigation-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color:snow;
    border-right: solid 3px #e2e2e2;
}


.navigation-list__item {
    box-sizing: border-box;
    display: flex;
    transition: color 0.3s;
    border-bottom: solid 1px #e2e2e2;
}

.navigation-list__item:hover a{
    color: #891329;
}

.navigation-list__item a{
    padding: 5px 10px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex: 1;
    margin-top: 100px;
}

.resume__section {
    border-top: solid 3px #e2e2e2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.section__name {
    width: 20%;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5rem;
}

.section__data {
    width: 75%;
    box-sizing: border-box;
    padding-left: 15px;
}


/* SKILL CARD */

.skill-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-card {
    margin-bottom: 10px;
    flex-basis: 30%;
    box-sizing: border-box;
    padding:  0 10px;
}

.skill-card__title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.skill-card__description {
    font-size: 0.9rem;
}


/* TECHNICAL */

.technical__table {
    width:100%;
    border-collapse: collapse;
}

.technical__table tbody {
    width: 100%;
}

.technical__table tbody tr {
    width: 33.3%;
    border-bottom: solid 2px #e2e2e2;
}

.technical__table tbody td {
    padding: 5px;
}

.technical__table tbody tr:last-child {
    border-bottom: none;
}

/* EXPERIENCE */

.experience {

}

.experience__title {
    display: flex;
    justify-content: space-between;
}

.experience__company {
    font-size: 1.3rem;
}

.experience__years {
    right: 5px;
    font-size: 0.9rem;
}

.experience__position {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.experience__description {
    font-size: 0.9rem;
}